<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>YOUR-API_KEY</string>
	<key>API_SECRET</key>
	<string>YOUR-SECRET-KEY</string>
	<key>REDIRECT_URL</key>
	<string>https://demo-stg.verifymyage.com/callback</string>
	<key>METHOD</key>
	<string></string>
	<key>BUSINESS_SETTINGS_ID</key>
	<string></string>
	<key>EXTERNAL_USER_ID</key>
	<string></string>
	<key>NSCameraUsageDescription</key>
	<string>Camera access is required for ID verification</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Microphone access may be required for video verification</string>
</dict>
</plist>
